name: Build Standard Release APK (Unsigned)

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      # يبني فقط Standard Release (يتجنب fdroid)
      - name: Build app
        run: ./gradlew :app:assembleStandardRelease --stacktrace --info

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: standard-release-apks
          path: app/build/outputs/apk/standard/release/*.apk
